@font-face {
    font-family: "birch-std";
    src: url(../fonts/PackardAntiqueRegular.ttf);
}

h2{
    margin-top: 0px;
    margin-bottom: 0px;
}

body{
    background-color: #fff;
    font-family: "Josefin Slab",Georgia,serif;
    font-size: 1.7em;
}


.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #e6e6e6;   
}

.panel-heading{
	background-color: #f5f5f5;
	border-color: #ddd;
	border-top: 1px solid #ddd;
}

.artistImage{
	width: 100%;
}

.artistPanel{
	padding: 0px;
}

.artistPanel p{
	padding: 10px;
}

.artistTitle{
	padding: 10px;
	margin-top: 0px; 
	border: 1px solid #ddd;
	border-radius: 5px;
	min-height: 60px;
}

.divider{
	max-width: 250px;
	border-color: #1F1F1F;
}

.boxHeader{
    padding: 20px 0px 10px 0px;
    background-color: #1F1F1F;
    margin-top: 20px;
    color: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

footer{
    padding: 30px;
    background-color: #1F1F1F;
    color: #fff;
}

.paddedInput{
    padding: 20px;
}

.smallPaddingBottom{
    padding-bottom: 13px;
}

.btn-xl{
    border: 1px solid #888;
}
.intro-lead-in{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 4em;
    font-weight: bold;
    margin-top: 15%;
    color: #fff;
    text-shadow: 0 0 10px #333;
     font-family: "birch-std",Georgia,serif;
}

.intro-heading{
     font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.5em;
    font-weight: bold;  
    color: #fff;  
    text-shadow: 0 0 15px #333;
    padding-top: 50px;
     font-family: "birch-std",Georgia,serif;
}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 10px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
      padding-top: 25px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default .navbar-nav>li>a {
      color: #fff;
      margin: 10px 40px 5px 10px;
      font-weight: bold;
      font-size: 1.5em;
      padding-top: 15px;
      padding-bottom: 10px;
  }
}

.navbar-right{
    margin-right: 50px;
}

.navbar-brand{
    padding-top: 10px;
}

.navbar-custom.affix {
    background-color: #1F1F1F;
    padding: 0px 0;
}